.red {
    background-color: red;
}

.gray {
    background-color: gray;
}

.black {
    background-color: black;
}

.green {
    background-color: green;
}
body {
    background-color: var(--main-color);
}
